# Dependencias
/node_modules
/.pnp
.pnp.js

# Variables de entorno
.env
.env.*
!.env.example

# Archivos de Firebase
src/*-firebase-adminsdk-*.json
.firebase/
firebase-debug.log
firebase-debug.*.log
.firebaserc

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Entornos de desarrollo
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de sistema
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Archivos de cobertura
/coverage